@model Chat
<head>
    <link href="~/css/MessageBox.css" rel="stylesheet" />
</head>
    <center>
        <h1>Chat</h1>
        <h2>You</h2>
        <form method="post" asp-action="SendMessage">
            @if (Model.UserWith.Username == User.Identity.Name)
            {
                <h2>@Model.UserMe.Username</h2>
            }
            else
            {
                <h2>@Model.UserWith.Username</h2>

            }
            <div class="container">
                @foreach (var item in Model.Messages)
                {


                    @if (item.From.Username == User.Identity.Name)
                    {
                        <div class="message-blue">
                            <p class="message-content">@item.Text</p>
                            <div class="message-timestamp-left">@item.Date.</div>
                        </div>
                    }
                    else
                    {
                        <div class="message-orange">
                            <p class="message-content">@item.Text</p>
                            <div class="message-timestamp-right">@item.Date</div>
                        </div>
                    }

                }
               </div>
                <input name="message" type="text" />
                <input type="submit" value="Submit" />
        </form>
        </center>
